@import "../Shared/variables";
@import "../Shared/mixins";

.todo-list {
  @include font-sans($textS, $color-dark-grey, 500, 130%);
  padding: 0;


  &__item {
    display: grid;
    gap: 10px;
    grid-template-columns: 10px 1fr 30px 30px;
  }
  &__text {
    padding: 12px 10px;
    margin: 0;
    border-bottom: 0.5px solid $color-light-gray;
    &_checked {
      text-decoration: line-through;
      color: $color-grey;
    }
  }

  &__input{
    color: $color-blue-800;
    padding: 12px 10px;
    border-bottom: 0.5px solid $color-blue-700;
    &:focus {
      outline: none;
      
    }
  }

  &__btn {
    &_image {
      width: 15px;
      opacity: 0.8;
      transition: opacity 0.2s ease-in-out;

      &:hover {
        opacity: 0.4;
        //
      }
    }
  }

  &__empty{
    @include font-sans($textXS, $color-grey-blue, 400, 130%);
  }
}
